.container {
    height: 100vh;
}
.custom-col-1 {
    /* border: 1px solid lightsalmon; */
    margin: 0px !important;
    /* background-color: rgb(240, 238, 238); */
}
.custom-col-2 {
    /* border: 1px solid lightsalmon; */
    margin: 0px !important;
    background-color: rgb(240, 238, 238);
}
.custom-right-dashboard-item1 {
    height: 20vh;
    display: flex;
    width: 100%;
    justify-content: center;
}
.custom-right-dashboard-item2 {
    height: 10vh;
    display: flex;
    width: 100%;
    justify-content: center;
}