<mat-card class="container" fxLayout="row" fxLayoutAlign="center stretch"  fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div class="custom-col-1" fxFlex="50%">
    <app-left-dashboard-area></app-left-dashboard-area>
  </div>
  <div class="custom-col-2" fxFlex="50%">
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex=100%>
      <div fxLayout="row" fxLayoutAlign="center center" style="width: 100%;">
        <div fxLayout="column" fxLayoutAlign="center center" style="width: 100%;">
          <div class="custom-right-dashboard-item1" style="display:flex;width: 70%;background-color: rgb(0, 255, 34);">
            <mat-label>TEsting{{FIRST_ITEM | translate}}</mat-label>
          </div>
          <div class="custom-right-dashboard-item2" style="display:flex;width: 70%;background-color: yellow;">
            <mat-label>Testing{{SECOND_ITEM | translate}}</mat-label>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>
