<mat-vertical-stepper [linear]="isLinear" #stepper class="custom-vertical-stepper">
  <mat-step [stepControl]="firstFormGroup">
    <div>
      <ng-template matStepLabel>Step 1 - Offer Type</ng-template>
    </div>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <div>
      <ng-template matStepLabel>Step 2 - Field details</ng-template>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Step 3 - Calculations</ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Step 4 - Offer</ng-template>
  </mat-step>
</mat-vertical-stepper>
